body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
    background-color: #333;
    color: white;
}

.header-wrapper {
    width: 1100px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.brand-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 50%;
    height: auto;
    margin-right: 10px;
}

.brand {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.search {
 text-align: center;
}

/* Navigation */
.nav {
    text-align: right;
    float: right;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: 0.3s;
}

.nav a:hover {
    color: #f0a500;
}

.nav a:active {
    background-color: #f0a500;
    color: white;
}

.login-button {
    justify-content: flex-end;
    text-align: end;
    background-color: #f0a500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Stil für die Formulare */
form {
    margin: 10px 0;
}

input {
    padding: 5px;
    margin-right: 5px;
}

/* Stil für das Dashboard */
.dashboard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

/* Stil für die Sektionen */
.dashboard-section {
    flex: 1;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Buttons */
button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

.preview-box {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}
